openai==1.63.0
tenacity==8.2.3
networkx==3.2.1
h5py==3.12.1
transformers==4.51.3
torch==2.6.0
numpy==1.26.4
pillow==10.4.0
pyzmq==27.1.0
pandas
tqdm
torchvision==0.21.0
timm
opencv-python-headless
scikit-image
matplotlib
pytorch-lightning==2.6.1
git+https://github.com/openai/CLIP.git